@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: "playfair Display";
}

#main{
    height:100%;
    width:100%;
    background-color: #fff;
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav{
    height: 100px;
    width:100%;
    position: fixed;
    top:0;
    /* background-color: red; */
    display: flex;
    padding:0 30px;
    align-items: center;
    justify-content: space-between;
}
#nav h1{
    font-size: 30px;
    font-weight: 100;
}
#nav #part2{
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav #part2 a{
text-decoration: none;
color:#222;
margin: 20px;

}

#nav #part2 a:nth-last-child(1){
    /* background-color: yellow; */
    padding:7px 18px;
    border-radius: 50px;
    overflow: hidden;
    position: relative;
    border:1px solid #000;
}

#nav #part2 a:nth-last-child(1) #green{
    width:100%;
    background-color:springgreen;
    top:0%;
    position: absolute;
    left:-100%;
    height: 100%;
    transition: left 0.4s ease;
}

#nav #part2 a:nth-last-child(1) h5{
    font-weight: 100;
    position: relative;
    z-index:99;
}
#nav #part2 a:nth-last-child(1):hover #green{
    left:0;
}

#main>h1{
    font-size: 5.4vw;
    font-weight: 100;
    text-transform: capitalize;
    z-index:9;
    width:60%;
    position: relative;
    text-align: center;

}

#main>h1::after{
    content: " ";
    position: absolute;
    width:35%;
    height: 16px;
   background-image: url(https://thisisdigital.co.uk/dist/images/underline-green.svg);
    bottom: 0;
    left:50%;
   
    transform: translate(-50%,0);

}

#main #img1{
    height:400px;
    width:260px;
    left:6%;
    top:20%;
    position: absolute;
}

#main #img2{
    height:210px;
    width:250px;
    right:20%;
    top:18%;
    position: absolute;
}

#main #img3{
    height:210px;
    width:200px;
   right:17%;
   bottom:5%;
    position: absolute;
}

#main img{
    transition: margin 0.4s ease;
}

#main img:hover{
    margin-top: -40px;
}

